<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Remember Me Sessions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="tokens.length === 0"><i>No Remember Me Sessions</i></div>
  <ion-list>
    <ion-item *ngFor="let token of tokens">
      <ion-label>
        <strong>{{token.tokenDate * 1000 | date:'long' }}</strong>
        <div>{{token.ipAddress}}</div>
        <div>{{token.ua_browser}} on {{token.ua_os}}</div>
        <div>{{token.ua_device}}</div>
      </ion-label>
      <button ion-button color="danger" icon-only item-end clear (click)="deleteToken(token.series)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
