<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="change(form.value)" novalidate>
    <ion-list>

      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input #password="ngModel" [class.invalid]="password.errors && password.dirty" [required]="true"
                   name="password" ngModel
                   type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors?.required && password.dirty" class="error-message">
        <ion-label>Password is required</ion-label>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Change Password</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
