<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formRoot]="changeForm" (submit)="change($event)" novalidate>
    <ion-list>
      <ion-item>
        <ion-input
          [class.invalid]="changeForm.password().invalid() && changeForm.password().dirty()"
          [formField]="changeForm.password"
          [required]="true"
          errorText="Password is required"
          label="New Password"
          labelPlacement="stacked"
          type="password"
        />
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!changeForm().valid()" color="primary" expand="block" type="submit"
          >Change Password</ion-button
        >
      </div>
    </ion-list>
  </form>
</ion-content>
