ion-item-sliding {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.31);
}

ion-label {
  font-size: 0.9em;
}
