<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="updateProfile(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input #firstName="ngModel" [class.invalid]="firstName.errors && firstName.dirty"
                   [ngModel]="user?.firstName" [required]="true" name="firstName"
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="firstName.errors?.required && firstName.dirty" class="error-message">
        <ion-label>
          First Name is required
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input #lastName="ngModel" [class.invalid]="lastName.errors && lastName.dirty" [ngModel]="user?.lastName"
                   [required]="true" name="lastName"
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="lastName.errors?.required && lastName.dirty" class="error-message">
        <ion-label>
          Last Name is required
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input #email="ngModel" [class.invalid]="email.errors && email.dirty" [ngModel]="user?.email"
                   [required]="true" email name="email"
                   type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors?.required && email.dirty" class="error-message">
        <ion-label>
          Email is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="email.errors?.email && email.dirty" class="error-message">
        <ion-label>
          Email is not valid
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input #userName="ngModel" [class.invalid]="userName.errors && userName.dirty" [ngModel]="user?.userName"
                   [readonly]="true" [required]="true"
                   name="userName"
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="userName.errors?.required && userName.dirty" class="error-message">
        <ion-label>
          Username is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="userName.errors?.userNameTaken" class="error-message">
        <ion-label>
          Username already taken
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Old Password</ion-label>
        <ion-input #oldPassword="ngModel" [class.invalid]="oldPassword.errors && oldPassword.dirty" name="oldPassword"
                   ngModel
                   type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input #password="ngModel" [class.invalid]="password.errors && password.dirty" name="password" ngModel
                   type="password"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Save</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
