<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="updateProfile(form.value)" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-input #firstName="ngModel" [class.invalid]="firstName.errors && firstName.dirty"
                   [ngModel]="user?.firstName" [required]="true"
                   errorText="First Name is required" label="First Name" labelPlacement="stacked"
                   name="firstName"
                   type="text" />
      </ion-item>

      <ion-item>
        <ion-input #lastName="ngModel" [class.invalid]="lastName.errors && lastName.dirty" [ngModel]="user?.lastName"
                   [required]="true" errorText="Last Name is required"
                   label="Last Name" labelPlacement="stacked"
                   name="lastName"
                   type="text" />
      </ion-item>

      <ion-item>
        <ion-input #email="ngModel" [class.invalid]="email.errors && email.dirty" [ngModel]="user?.email"
                   [required]="true" email
                   errorText="Email is required" label="Email" labelPlacement="stacked"
                   name="email"
                   type="email" />
      </ion-item>

      <ion-item>
        <ion-input #userName="ngModel" [class.invalid]="userName.errors && userName.dirty" [ngModel]="user?.userName"
                   [readonly]="true" [required]="true"
                   errorText="Username is required" label="Username"
                   labelPlacement="stacked"
                   name="userName"
                   type="text" />
      </ion-item>

      <ion-item>
        <ion-input #oldPassword="ngModel" [class.invalid]="oldPassword.errors && oldPassword.dirty" label="Old Password"
                   labelPlacement="stacked" name="oldPassword"
                   ngModel
                   type="password" />
      </ion-item>

      <ion-item>
        <ion-input #password="ngModel" [class.invalid]="password.errors && password.dirty" label="New Password"
                   labelPlacement="stacked"
                   name="password" ngModel
                   type="password" />
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Save</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
