<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (profile.error()) {
    <div><i>Could not load profile</i></div>
  } @else if (profile.isLoading() && !profile.hasValue()) {
    <div><i>Loading profile</i></div>
  }

  <form [formRoot]="profileForm" (submit)="updateProfile($event)" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-input
          [class.invalid]="profileForm.firstName().invalid() && profileForm.firstName().dirty()"
          [formField]="profileForm.firstName"
          [required]="true"
          errorText="First Name is required"
          label="First Name"
          labelPlacement="stacked"
          type="text"
        />
      </ion-item>

      <ion-item>
        <ion-input
          [class.invalid]="profileForm.lastName().invalid() && profileForm.lastName().dirty()"
          [formField]="profileForm.lastName"
          [required]="true"
          errorText="Last Name is required"
          label="Last Name"
          labelPlacement="stacked"
          type="text"
        />
      </ion-item>

      <ion-item>
        <ion-input
          [class.invalid]="profileForm.email().invalid() && profileForm.email().dirty()"
          [formField]="profileForm.email"
          [required]="true"
          errorText="Email is required"
          label="Email"
          labelPlacement="stacked"
          type="email"
        />
      </ion-item>

      <ion-item>
        <ion-input
          [class.invalid]="profileForm.userName().invalid() && profileForm.userName().dirty()"
          [formField]="profileForm.userName"
          [readonly]="true"
          [required]="true"
          errorText="Username is required"
          label="Username"
          labelPlacement="stacked"
          type="text"
        />
      </ion-item>

      <ion-item>
        <ion-input
          [class.invalid]="profileForm.oldPassword().invalid() && profileForm.oldPassword().dirty()"
          [formField]="profileForm.oldPassword"
          label="Old Password"
          labelPlacement="stacked"
          type="password"
        />
      </ion-item>

      <ion-item>
        <ion-input
          [class.invalid]="profileForm.password().invalid() && profileForm.password().dirty()"
          [formField]="profileForm.password"
          label="New Password"
          labelPlacement="stacked"
          type="password"
        />
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!profileForm().valid()" color="primary" expand="block" type="submit"
          >Save</ion-button
        >
      </div>
    </ion-list>
  </form>
</ion-content>
