<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot My Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (!success) {
    <form #form="ngForm" (ngSubmit)="reset(form.value)" novalidate>
      <ion-list>
        <ion-item>
          <ion-input #usernameOrEmail="ngModel" [class.invalid]="usernameOrEmail.errors && usernameOrEmail.dirty"
                     [required]="true" errorText="Username or Email is required"
                     label="Username or Email" labelPlacement="stacked" name="usernameOrEmail"
                     ngModel
                     type="text"></ion-input>
        </ion-item>
        <div class="ion-padding">
          <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Reset my Password
          </ion-button>
        </div>
      </ion-list>
    </form>
  }
  @if (success) {
    <ion-card>
      <ion-card-content>
        Password Reset Email sent. Check your inbox.
      </ion-card-content>
    </ion-card>
  }
</ion-content>
