<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot My Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="reset(form.value)" *ngIf="!success" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username or Email</ion-label>
        <ion-input #usernameOrEmail="ngModel" [class.invalid]="usernameOrEmail.errors && usernameOrEmail.dirty"
                   [required]="true" name="usernameOrEmail" ngModel
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="usernameOrEmail.errors?.required && usernameOrEmail.dirty" class="error-message">
        <ion-label>
          Username or Email is required
        </ion-label>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Reset my Password</ion-button>
      </div>
    </ion-list>
  </form>
  <ion-card *ngIf="success">
    <ion-card-content>
      Password Reset Email sent. Check your inbox.
    </ion-card-content>
  </ion-card>
</ion-content>
