<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="updateProfile(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" name="firstName" [ngModel]="user?.firstName" required #firstName="ngModel"
                   [class.invalid]="firstName.errors && firstName.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="firstName.errors?.required && firstName.dirty">
        First Name is required
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" name="lastName" [ngModel]="user?.lastName" required #lastName="ngModel"
                   [class.invalid]="lastName.errors && lastName.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="lastName.errors?.required && lastName.dirty">
        Last Name is required
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" name="email" [ngModel]="user?.email" required email #email="ngModel"
                   [class.invalid]="email.errors && email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="email.errors?.required && email.dirty">
        Email is required
      </ion-item>
      <ion-item class="error-message" *ngIf="email.errors?.email && email.dirty">
        Email is not valid
      </ion-item>

      <ion-item>
        <ion-label stacked>Username</ion-label>
        <ion-input [readonly] type="text" name="username" [ngModel]="user?.username" required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        Username is required
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.usernameTaken">
        Username already taken
      </ion-item>

      <ion-item>
        <ion-label stacked>Old Password</ion-label>
        <ion-input type="password" name="oldPassword" ngModel #oldPassword="ngModel"
                   [class.invalid]="oldPassword.errors && oldPassword.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>New Password</ion-label>
        <ion-input type="password" name="password" ngModel #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Save</button>
      </div>

    </ion-list>
  </form>
</ion-content>
