<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login($event)" novalidate>
    <ion-list>
      <ion-item>
        <ion-input
          [class.invalid]="loginForm.username().invalid() && loginForm.username().dirty()"
          [formField]="loginForm.username"
          [required]="true"
          label="Username"
          labelPlacement="stacked"
          type="text"
        />
      </ion-item>

      <ion-item>
        <ion-input
          [class.invalid]="loginForm.password().invalid() && loginForm.password().dirty()"
          [formField]="loginForm.password"
          [required]="true"
          label="Password"
          labelPlacement="stacked"
          type="password"
        />
      </ion-item>

      <ion-item>
        <ion-checkbox [formField]="loginForm.rememberMe" labelPlacement="stacked"
          >Remember Me</ion-checkbox
        >
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!loginForm().valid()" color="primary" expand="block" type="submit"
          >Login</ion-button
        >
      </div>

      <div class="ion-padding">
        <ion-button (click)="signup()" color="secondary" expand="block" type="button"
          >Sign up</ion-button
        >
      </div>

      <div class="ion-padding">
        <ion-button (click)="reset()" color="secondary" expand="block" type="button"
          >Forgot my Password</ion-button
        >
      </div>
    </ion-list>
  </form>
</ion-content>
