<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Users</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <strong>{{user.username}}</strong>
        <div>{{user.firstName}} {{user.lastName}}</div>
        <div>{{user.email}}</div>
        <div><i>Last Login:</i> {{user.lastAccess * 1000 | relativeTime}}</div>
        <div><i>Authorities:</i> {{user.authorities}}</div>
      </ion-label>
      <button *ngIf="user.lockedOutUntil" ion-button color="danger" icon-only item-end clear (click)="unlock(user.username)">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
